/.settings
/.classpath
/.project
/build
/target

scaffold-common/.settings
scaffold-common/.classpath
scaffold-common/.project
scaffold-common/build
scaffold-common/target

scaffold-core/.settings
scaffold-core/.classpath
scaffold-core/.project
scaffold-core/build
scaffold-core/target

scaffold-web/.settings
scaffold-web/.classpath
scaffold-web/.project
scaffold-web/build
scaffold-web/target


